<% include ./partials/header %>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">


<div class="container d-flex h-100 align-items-center flex-wrap">
    <!--<div class="d-flex flex-row mt-20 justify-content-around w-100 flex-wrap">-->
        <!--Contact:-->
        <!--Name: Attila Kovács-->
        <!--E-mail: attila.k.kovacs.gmail.com-->
        
    <!--</div>-->
    <div class="d-flex flex-row mt-20 justify-content-around w-100 flex-wrap">
        <img class="stack-image" src="/imgs/html.png">
        <img class="stack-image" src="/imgs/css.png">
        <img class="stack-image" src="/imgs/js.png">
    </div>
    <div class="d-flex flex-row justify-content-around w-100 flex-wrap">
        <img class="" src="/imgs/nodeJS.png">
        <img class="" src="/imgs/mongoDB.png">
    </div>
</div>
<% include ./partials/footer %>