<% include ./partials/header %>

<div class="container d-flex h-100">
    <div class="row w-100 h-100 justify-content-center align-items-center text-center">
        <div class="col-12 ">
            <h1>Login!</h1>
            
            <form action="/login" method="POST">
                <input type="text" name="username" placeholder="username">
                <input type="password" name="password" placeholder="password">
                <input type="submit" value="Login">
            </form>
        </div>
    </div>
</div>
<% include ./partials/footer %>